@media screen {
  .addComponent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 20px;
    height: 100%;
    padding: 10px;
    display: flex;
    z-index: -1000;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
  }

  .addComponentLayout {
    gap: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .addComponentProgress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .addComponentContent {
    display: flex;
    align-items: end;
    flex-direction: column;
  }

  .progress {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .progress:first-child {
    width: fit-content;
  }

  .progressIndicator {
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    border-radius: 360%;
    border: 1px solid var(--primary-color);
  }

  .active {
    background-color: var(--primary-color);
  }

  .divider {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--primary-color);
  }

  .addComponentButton {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 200px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }
}

@media only screen and (min-width: 48em) {
  .addComponent {
    position: relative;
    z-index: 0;
  }

  .addComponentBtn {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .addComponentButton {
    width: fit-content;
    padding: 10px 100px;
  }

  .progressIndicator {
    min-width: 25px;
    min-height: 25px;
  }

  .addComponentButton {
    margin-bottom: 0;
  }
}
