@media screen {
  .chooseComponent {
    gap: 20px;
    height: 100%;
    display: flex;
    height: 100vh;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
  }

  .chooseComponent h1 {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
  }

  .chooseComponent h1 span {
    font-weight: 900;
    text-transform: capitalize;
    color: var(--secondary-color);
  }

  .dropdownUserIcon {
    color: var(--dark-background-color);
  }
}

@media only screen and (min-width: 48em) {
  .chooseComponent {
    gap: 20px;
    height: 100%;
    display: flex;
    height: 100vh;
    padding: 0 100px;
    flex-direction: column;
    justify-content: center;
  }
}
