@media screen {
    .loadingComponent {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        position:fixed;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color);
    }

    .loadingImg {
        display: flex;
        object-fit: cover;
        object-position: center;
    }

}
    
    /* using it as global style for larger devices  */
    @media only screen and (min-width: 48em) {
    
    }
    