@media screen {
  .popupContainer{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    padding: 10px;
    position: absolute; 
    backdrop-filter: blur(5px);
  }

  .popup {
    gap: 20px;
    margin: auto;
    padding: 4px 0;
    max-width: 100%;
    
    /* 
    max-width: 100%;
    min-height: 100%;
    max-height: 100%; */
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
    position: absolute;
    border-radius: 30px;
    height: fit-content;
    flex-direction: column;
    box-shadow: var(--bar-shadow);
    background-color: var(--background-color);
    border: 1px solid var(--light-background-color);
  }

  .popupHeader {
    display: flex;
    padding: 0 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .Notchbar {
    width: 30%;
    height: 3px;
    border-radius: 30px;
    background-color: var(--light-background-color);
  }

  .popupExit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .popupIcon {
    z-index: 10;
    cursor: pointer;
    color: var(--tertiary-color);
  }

  .popupDotIcon {
    color: var(--light-background-color);
  }
}

@media only screen and (min-width: 48em) {
  .popupContainer{
    padding: 0;
  }
  .popup {
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
  }
}
