@media screen {
  .mainComponent {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .autoComponent {
    gap: 12px;
    height: 100%;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
  }

  /* .autoComponent::-webkit-scrollbar {
    display: none;
  } */

  .autoSection {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 10px;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 200px;
    flex-direction: column;
  }

  .autoSectionCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .autoSectionHeader {
    display: flex;
    padding: 8px 10px;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-between;
  }

  .autoSectionHeader span {
    font-size: 0.8rem;
  }

  .autoSectionF {
    gap: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .autoSectionF span {
    text-decoration: underline;
  }

  .selectedCard {
    box-shadow: var(--bar-shadow);
  }

  .CardArea {
    gap: 14px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .viewContainer {
    gap: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--dark-background-color);
  }

  .viewContainer h3 {
    font-size: 1rem;    
  }

  .viewContainer h1 {
    font-size: 1.2rem;   
  }

  .viewResult h1 {
    font-size: 1rem;    

  }

  .viewBtn {
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .autoComponent {
    padding: 10px 0;
    flex-direction: row;
  }

  .mainComponent {
    padding-right: 10px;
  }

  .autoSection {
    z-index: 0;
    padding-bottom: 0;
    position: relative;
    border-radius: 30px;
    background-color: var(--light-shade-color);
  }

  .CardArea {
    gap: 10px;
  }
}
