@media screen {
  .ServiceCardComponent {
    gap: 12px;
    width: 100%;
    height: 120px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);
    border: 1px solid var(--light-shade-color);
  }

  .ServiceCardComponent:hover {
    box-shadow: var(--bar-shadow);
  }

  .ServiceCardImageComponent {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ServiceCardBannerImage {
    object-position: center;
    border-radius: 20px;
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100px;
  }

  .ServiceCardSpan {
    gap:10px;
    top: 10px;
    left: 10px;
    z-index: 100;
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    width: fit-content;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
  }

  .ServiceCardSpan span {
    font-size: .8rem;
    text-transform: capitalize;
  }

  .deleteIcon{
    color: var(--tertiary-color);
  }

  .editIcon{
    color: var(--secondary-color);
  }

  .moreInfoHeight {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .ServiceCardTextComponent {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ServiceCardTitleComponent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ServiceCardTitleComponent h1 {
    font-weight: 800;
    font-size: .9rem;
    text-transform: capitalize;
  }

  .ServiceCardAreaWrapper {
    gap: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
  }

  .ServiceCardAreaWrapper span {
    font-size: 0.8rem;
  }

  .ServiceCardV {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .areaCardInfo {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .areaCardInfo span {
    font-size: 0.8rem;
  }

  .moreServiceCardArea {
    gap: 4px;
    display: flex;
    flex-direction: column;
  }

  .ServiceCardMon {
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .popDeleteContainer {
    gap: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .popDeleteContainer h1 {
    font-size: 1rem;
    font-weight: 300;
  }

  .popDeleteWrapper{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btnDelete , .btnCancel {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    color: var(--background-color);

  }

  .btnDelete {
    background-color: var(--tertiary-color);
  }

  .btnCancel  {
    background-color: var(--secondary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .ServiceCardComponent {
    width: fit-content;
  }

  
  .ServiceCardBannerImage {
    width: 150px;

  }

  .moreInfoHeight::-webkit-scrollbar {
    display: none;
  }
}
